*{
	padding:0;
	margin:0;
}
body{
	font-family:Calibri, sans-serif;
	font-size:14px;
	background-color:black;
}

h1, h2, h3, h4, h5, h6{ 
	text-align:center; 
	color: rgb(177, 202, 0); 
	text-shadow: -2em -0.5em 2px #DDDDDD;

	position:fixed;
	top:0;
	left:0;
	right:0;
	padding:1em;
	z-index:1;
}

#matrix{
	position:fixed;
}

.w50{ width: 50%; }
.w25{ width: 25%; }

.fleft{ float: left; }
.fright{ float: right; }

.tacenter{ text-align:center; }

.msg{ 
	font-family: monospace;
	color: rgb(177, 202, 0); 
	font-weight: bold;
}
.status{
	color: gray;
	font-style: italic;
}
.error{
	color: red;
}
